# **Ejercicio 1**

Una vez que el sistema de recaudaciones del nuevo canal de cobranzas está en producción se recibieron las siguientes transacciones correspondientes a pagos en pesos: 100, 300, 400, 500, 6000, 8000, 2012, 1231, 23, 20, 100, 100, 4000, 300, 500, 500, 600, 200, 200, 8000.

1. Genere una variable con la cantidad de pago recibidos denominada “cant_pagos”.
2. Genere un vector con los valores únicos de los pagos realizados llamado "valores_unicos".
3. Ordene de menor a mayor los pagos en un vector llamado "pagos_ordenados".
4. ¿Cuál es el mínimo valor que se cobró y cual es el máximo valor que se cobró?
5. Genere un nuevo vector denominado "comision" con las comisiones de las cobranzas que se deben abonar al recaudador, recuerde que se cobra el 1.2%.
6. Realice otro vector denominado "comision_pagada" teniendo en cuenta que si la comisión no supera los 8 pesos el valor mínimo de cobranzas es de 8 pesos.
7. Cuántas operaciones se pagaron 8 pesos por no superar ese tope?
8. ¿Cuánto pagué de comisiones y cuanto deberia haber pagado sin no estuviera el tope?
---

In [15]:
pagos = [100, 300, 400, 500, 6000, 8000, 2012, 1231, 23, 20, 100, 100, 4000, 300, 500, 500, 600, 200, 200, 8000]

## Resolucion Punto 1
Genere una variable con la cantidad de pago recibidos denominada “cant_pagos”

In [16]:
cant_pagos = len(pagos)
print(cant_pagos)

20

## Resolucion Punto 2
Genere un vector con los valores únicos de los pagos realizados llamado "valores_unicos".

In [17]:
valores_unicos=list(set(pagos))
print(valores_unicos)

[8000, 4000, 100, 200, 300, 1231, 400, 6000, 500, 20, 23, 600, 2012]

## Resolucion Punto 3
Ordene de menor a mayor los pagos en un vector llamado "pagos_ordenados".

In [18]:
pagos_ordenados = sorted(pagos)
print(pagos_ordenados)

[20, 23, 100, 100, 100, 200, 200, 300, 300, 400, 500, 500, 500, 600, 1231, 2012, 4000, 6000, 8000, 8000]

## Resolucion Punto 4
¿Cuál es el mínimo valor que se cobró y cual es el máximo valor que se cobró?

In [19]:
pago_minimo = min(pagos)
pago_maximo = max(pagos)
print(f"El pago mínimo fue: {pago_minimo}")
print(f"El pago máximo fue: {pago_maximo}")

El pago mínimo fue: 20
El pago máximo fue: 8000

## Resolucion Punto 5
Genere un nuevo vector denominado "comision" con las comisiones de las cobranzas que se deben abonar al recaudador, recuerde que se cobra el 1.2%.

In [20]:
comision=[p*0.012 for p in pagos]
print(comision)

[1.2, 3.6, 4.8, 6.0, 72.0, 96.0, 24.144000000000002, 14.772, 0.276, 0.24, 1.2, 1.2, 48.0, 3.6, 6.0, 6.0, 7.2, 2.4, 2.4, 96.0]

## Resolución Punto 6
Realice otro vector denominado "comision_pagada" teniendo en cuenta que si la comisión no supera los 8 pesos el valor mínimo de cobranzas es de 8 pesos.

In [21]:
comision_pagada=[c if c > 8 else 8 for c in comision]
print(comision_pagada)

[8, 8, 8, 8, 72.0, 96.0, 24.144000000000002, 14.772, 8, 8, 8, 8, 48.0, 8, 8, 8, 8, 8, 8, 96.0]

## Resolución Punto 7
Cuántas operaciones se pagaron 8 pesos por no superar ese tope?

In [22]:
comision_menos8=[c for c in comision if c <= 8 ]
print(len(comision_menos8))

14

## Resolución Punto 8
¿Cuánto pagué de comisiones y cuanto deberia haber pagado sin no estuviera el tope?

In [23]:
print(f"Comision que deberia haber pagado: {sum(comision)}")
print(f"Comision que pague realmente: {sum(comision_pagada)}")

Comision que deberia haber pagado: 397.032
Comision que pague realmente: 462.916

---
# **Ejercicio  2**
Generar la función denominada calculoIMC que tenga como parámetros peso y altura. Tener en cuenta:

*   Convertir la altura de pulgadas a metros (indice 0.0254)
*   Convertir el peso de libras a kg (índice 0.453592)
*   La función es peso dividido la altura al cuadrado.

Verificar que la función para el siguiente caso:

*   peso: 112.9925
*   altura: 65.78331

Armar una función **lambda** equivalente a la función calculoIMC.

---

### Función normal

In [24]:
def calculoIMC(peso_libras, altura_pulgadas):
    return (peso_libras*0.453592)/((altura_pulgadas*0.0254)**2)

## Función lambda

In [25]:
lambda peso_libras,altura_pulgadas: (peso_libras*0.453592)/((altura_pulgadas*0.0254)**2)

In [26]:
calculoIMC_lambda = lambda peso_libras, altura_pulgadas:(peso_libras * 0.453592) / ((altura_pulgadas * 0.0254) ** 2)

In [27]:
print("IMC (lambda):", calculoIMC_lambda(112.9925, 65.78331))
print("IMC:", calculoIMC(112.9925, 65.78331))

IMC (lambda): 18.35760947545468
IMC: 18.35760947545468

---
# **Ejercicio 3**
Contexto: Un sistema registró los siguientes datos de clientes: edades, ingresos mensuales en dólares, y géneros.

* ¿Cuál es la edad promedio de los clientes?
* ¿Cuál es el ingreso máximo y el mínimo?
* Calcule el ingreso promedio para mujeres y para varones.
* Genere una lista de booleanos que indique si cada cliente gana más que el promedio general.

---

In [ ]:
import pandas as pd # type: ignore

data = {
    "edad": [25, 34, 22, 45, 52, 23, 31, 40, 29, 37, 28],
    "ingreso": [1800, 2500, 1200, 4000, 5200, 1300, 2100, 3000, 1600, 2700, 2000],
    "genero": ["F", "M", "F", "M", "M", "F", "F", "M", "F", "M", "F"]
}

### Creacion del Dataframe

In [ ]:
df = pd.DataFrame(data)
print(df)

    edad  ingreso genero
0     25     1800      F
1     34     2500      M
2     22     1200      F
3     45     4000      M
4     52     5200      M
5     23     1300      F
6     31     2100      F
7     40     3000      M
8     29     1600      F
9     37     2700      M
10    28     2000      F

### Resolución Punto 1
¿Cuál es la edad promedio de los clientes?

In [30]:
promedio_edad = df["edad"].mean()
print(f"La edad promedio de los clientes es: {promedio_edad}")

La edad promedio de los clientes es: 33.27272727272727

### Resolución Punto 2
¿Cuál es el ingreso máximo y el mínimo?

In [31]:
ingreso_minimo = df['ingreso'].min()
ingreso_maximo = df['ingreso'].max()

print(f"El ingreso minimo es: {ingreso_minimo})")
print(f"El ingreso maximo es: {ingreso_maximo})")

El ingreso minimo es: 1200)
El ingreso maximo es: 5200)

### Resolución Punto 3
Calcule el ingreso promedio para mujeres y para varones.

In [32]:
print(df['genero'] == "F")

0      True
1     False
2      True
3     False
4     False
5      True
6      True
7     False
8      True
9     False
10     True
Name: genero, dtype: bool

In [33]:
print(df[df['genero'] == "F"]['ingreso'])

0     1800
2     1200
5     1300
6     2100
8     1600
10    2000
Name: ingreso, dtype: int64

In [34]:
ingreso_promedio_mujeres = df[df['genero'] == "F"]['ingreso'].mean()
print(f"El ingreso promedio de las mujeres es: {ingreso_promedio_mujeres}")

El ingreso promedio de las mujeres es: 1666.6666666666667

In [35]:
#Alternativa usando df.loc
ingreso_promedio_hombre = df.loc[df["genero"] == "M", "ingreso"].mean()
print(f"El ingreso promedio de los hombres es: {ingreso_promedio_hombre}")

El ingreso promedio de los hombres es: 3480.0

### Resolución Punto 4
Genere una lista de booleanos que indique si cada cliente gana más que el promedio general.

In [36]:
promedio_ingreso_general = df['ingreso'].mean()
print(f"El promedio de ingreso general es: {promedio_ingreso_general}")
lista_cliente_gana_mas_que_promedio = list(df['ingreso'] > promedio_ingreso_general)
print(lista_cliente_gana_mas_que_promedio)

El promedio de ingreso general es: 2490.909090909091
[False, True, False, True, True, False, False, True, False, True, False]